{% extends "base.html" %}

{% block title %}BuddySystem - About{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 align="center" style = "font-family:Arial, Helvetica, sans-serif;font-size:50px;color:whitesmoke;font-weight: bold;">About BuddySystem</h1></br>
    <p align="center" style = "font-family:Arial, Helvetica, sans-serif;font-size:21px;font-style:italic;color:black;">
        We are all aware of the age old addage "There is safety in numbers." BuddySystem is a social betterment app; with the help of BuddySystem you will be able to meet a walking Buddy and safely walk
        from place to place and ensure you're never alone. As a very active individual both personally and professionally who walks everywhere I noticed how much more enjoyable I found my walks from place to
        place when I was accompanied by a walking buddy and arrived at my desired destination in much higher spirits versus the frequent state of stress and irritation I felt when walking by myself. Although 
        I was initially inspired to create this application out of safety concerns as a woman I recognize that BuddySystem can appeal to all ages and sexes. Whether you are trying to meet someone who may work
        at your same company for a regular walking Buddy to work, a retired socialite looking for company in afternoon walks or a late night bar goer looking for a safe walk home a couple of blocks away, BuddySystem
        can be used to better your walking experience no matter what walk of life.
    </p>
</div>
<h2 style = "font-family:Arial, Helvetica, sans-serif;font-size:35px;color:whitesmoke;">Our Team</h2>
  <p style = "font-family:Arial, Helvetica, sans-serif;font-size:18px;color:black;font-style:italic;">
    Rene Goertzen
  </p>
  <p>
    <a href="https://www.linkedin.com/in/brittney-rene-goertzen/" style = "font-family:Arial, Helvetica, sans-serif;color:rgb(0, 99, 205)">LinkedIn Profile</a>
    <br />
    <a href="https://twitter.com/FibonacciRene" style = "font-family:Arial, Helvetica, sans-serif;color:rgb(0, 99, 205)">Twitter</a>
    <br/>
    <a href="https://github.com/renefibonacci660" style = "font-family:Arial, Helvetica, sans-serif;color:rgb(0, 99, 205)">Github</a>
  </p>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <p style = "font-family:Arial, Helvetica, sans-serif;color:black">Curious about our code base? Take a look <a href="https://github.com/renefibonacci660/BuddySystem" style = "font-family:Arial, Helvetica, sans-serif;color:rgb(0, 99, 205);font-weight: bold;">here</a></p>

{% endblock %}


